/* * {
    border: dotted greenyellow;
} */

body {
    background: #181818;
    font-family: "Nunito", sans-serif;
}

.blurb {
    padding: 100px;
    border-style: double;
    border-color: #020202a6;
    border-width: 1rem;
}

.blurb h1 {
   color: #e61000;
   font-weight: 100;
   font-size: 3.5rem;
}

.blurb h2 {
   color: #e61000;
   font-weight: 100;
   font-size: 3.5rem;
}

.blurb h3 {
   color: #e61000;
   font-weight: 100;
   font-size: 1.5rem;
}

.blurb p {
    color: #FFFFFF;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 2;
}

.blurb li {
    color: #FFFFFF;
    text-align: left;
    font-size: .9rem;
    margin: 10px;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.dropdown-divider {
    color: #FFFFFF;
}

#mainNavbar {
    font-size: 1.25rem;
    font-weight: 100;
    margin: 25px;
    background: #020202a6;
}

#mainNavbar .nav-link {
    color: #FFFFFF;
}

#mainNavbar .nav-link:hover {
    color: #e61000;
}

#mainNavbar .dropdown-menu {
    background: #020202a6;
}

#mainNavbar .dropdown-item {
    color: #FFFFFF;
}

#mainNavbar .dropdown-item:hover {
    color: #e61000;
    background: #020202a6;
}

#mainNavbar .navbar-brand {
    color: #e61000;
    font-size: 1.75rem;
    font-weight: 600;
}

#offcanvasNavbar {
    background-color: #020202a6;
}

#offcanvasNavbar h5 {
    color: #e61000;
}

.navbar.scrolled {
    background: #020202a6;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}