/* * {
    border: dotted greenyellow;
} */

body {
    background: #020202;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #e61000;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #FFFFFF;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 2;
}

.blurb li {
    color: #FFFFFF;
    text-align: left;
    font-size: .9rem;
    margin: 10px;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.25rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: #FFFFFF;
}

#mainNavbar .nav-link:hover {
    color: #e61000;
}

#mainNavbar .navbar-brand {
    color: #e61000;
    font-size: 1.75rem;
    font-weight: 600;
}

#headingGroup span {
    color: #e61000;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: #262626a6;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}